{% extends 'admin/base/base.html' %}


{% block title %}
  用户信息页
{% endblock %}

{% block content_header %}
  用户信息
{% endblock %}

{% block header_option_desc %}
  信息管理
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>用户名</th>
              <th>是否能登录后台？</th>
              <th>是否是超级管理员？</th>
              <th>注册时间</th>
              <th>最近登录</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {% for one_user in users %}
              <tr data-id="{{ one_user.id }}" data-name="{{ one_user.username }}">
                <td>{{ one_user.username }}</td>
                {% if one_user.is_staff %}
                  <td>是</td>
                {% else %}
                  <td>否</td>
                {% endif %}

                {% if one_user.is_superuser %}
                  <td>是</td>
                {% else %}
                  <td>否</td>
                {% endif %}

                <td>{{ one_user.date_joined|date:'Y年m月d日H时m分s秒' }}</td>
                <td>{{ one_user.last_login|date:'Y年m月d日H时m分s秒' }}</td>

                <td>
                  <a href="{% url 'admin:usersprofile_edit' one_user.id %}" class="btn btn-xs btn-warning btn-edit">详情</a>
                </td>
              </tr>
            {% endfor %}


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/admin/user/users_manage.js' %}"></script>
{% endblock %}