{% extends 'base/base.html' %}
{% block title %}
修改登录密码
{% endblock %}
{% block link %}
  <link rel="stylesheet" href="/static/css/authPro/auth.css">
{% endblock %}
<!-- header start -->
<!-- header end -->
<!-- container start -->
{% block main_start %}
  <main id="container">
  <div class="register-contain">
    <div class="top-contain">
      <a href="{% url 'users:register' %}" class="please-register">< 去注册</a>
      <a href="{% url 'users:login' %}" class="login">立即登录 &gt;</a>
    </div>
    <form action="" method="post" class="form-contain">
      {% csrf_token %}
      <div class="form-item">
        <input type="text" id="user_name" placeholder="输入用户名或手机号" name="username" class="form-control" autocomplete="off">
      </div>
      <div class="form-item">
        <input type="password" id="old-password" placeholder="旧密码" name="old-password" class="form-control">
      </div>
      <div class="form-item">
        <input type="password" id="password" placeholder="新密码" name="password" class="form-control">
      </div>
      <div class="form-item">
        <input type="password" id="password-repeat" placeholder="确认新密码" name="password_repeat" class="form-control">
      </div>
      <div class="form-item">
        <input type="tel" id="mobile" placeholder="输入手机号" name="telephone" class="form-control" autocomplete="off" >
      </div>
      <div class="form-item">
        <input type="text" placeholder="输入图形验证码" name="captcha_graph" class="form-captcha" id="input_captcha">
        <a href="javascript:void(0);" class="captcha-graph-img">
          <img src="" alt="验证码" title="点击刷新">
        </a>
      </div>
      <div class="form-item">
        <input type="text" placeholder="输入短信验证码" name="sms_captcha" class="form-captcha" autocomplete="off">
        <a href="javascript:void(0);" class="sms-captcha" title="发送验证码">获取短信验证码</a>
      </div>
      <div class="form-item">
        <input type="submit" value="修改密码" class="register-btn" id="change-btn">
      </div>
    </form>
  </div>
</main>
{% endblock %}
<!-- container end -->
{% block side %}
{% endblock %}
<!-- footer start -->
<!-- footer end -->

{% block script %}
{#  <script src="/static/js/users/auth.js"></script>#}
  <script src="{% static 'js/users/change.js' %}"></script>
{% endblock %}

